<template id="rielk-construction-template">
    <!-- CONSTRUCTION Content -->
    <div class="content d-none" id="construction-container">
        <div class="skill-info">
            <skill-header data-skill-id="rielkConstruction:Construction"></skill-header>
        </div>
        <div class="row row-deck">
            <realmed-category-menu class="col-12" id="construction-category-menu"></realmed-category-menu>

            <div class="col-12">
                <div class="block block-rounded block-link-pop border-top border-construction border-4x">
                    <div class="row no-gutters" id="construction-category-container">
                        <div class="col-12 col-md-4">
                            <artisan-menu id="construction-artisan-menu"></artisan-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONSTRUCTION Content -->
</template>