body.darkMode .bg-rielk-construction,.bg-rielk-construction {
    background-color: #e7874f!important
}

.bg-rielk-construction-50 {
    background-color: #e7874f3d!important
}

.border-rielk-construction {
    border-color: #e7874f!important;
}


body.darkMode.superDark .bg-rielk-construction
{
    background-color: #000!important
}
